About
-----

[Inkscape](http://inkscape.org/) is a powerful open-source
vector graphics editor which supports the inclusion of
raster images either through file references (links)
or through direct embedding of the image data in the 
Inkscape SVG file. Referencing images as links keeps SVG files
small and ensures that changes to image placement and 
transformations specified in the SVG file remain separate 
from the underlying image data. However, embedding images 
may be required as a final step in some production work-flows. 

This java-based extension for Inkscape facilitates 
image embedding by: 

-    Automatically identifying all linked images.
-    Cropping image data that lies outside the images'
     clipping frame.
-    Optionally applying jpeg compression.
-    Writing the cropped and possibly compressed image
     data directly in the SVG file.

By cropping image data that lies outside the clipping frame
or applying jpeg compression,
the resulting file size can be reduced significantly.
Alternatively, if preserving image quality is a priority 
jpeg compression can be explicitly avoided.

The extension uses [ImageJ](http://rsbweb.nih.gov/ij/)
to load and manipulate the image data and
the [Apache Commons Codec](http://commons.apache.org/proper/commons-codec/)
library to encode the data for embedding.

This extension was developed to help produce
[publication quality figures for scientific journals](../figures/).
Comments and suggestions are welcome:    
**Benjamin Nanes**, <img height="14px" src="../img/emvec.svg"/>

Installing the Inkscape Extension
---------------------------------

**Requirements**

-    Inkscape 0.48 or newer
-    Java SE6 or newer

**Option 1: Build from source**

Get the <a id="git" href='https://github.com/bnanes/svg-embed-and-crop'>code</a> and build the 
project using [Maven](http://maven.apache.org/index.html):
`$ mvn package`.  Then unpack 
`target/svg-embed-and-crop-<ver>-distr.zip` 
as described below.

**Option 2: Download compiled app**

<a id="svg-embed-crop-zip" href='${project.build.finalName}-distr.zip'>${project.build.finalName}-distr.zip</a>

**Installation**

Unpack the entire contents of the archive to 
the [Inkscape extension directory](http://wiki.inkscape.org/wiki/index.php/ScriptingHOWTO#Installing).

For Windows, this is probably something like:    
`C:\Users\<your user name>\AppData\Roaming\inkscape\extensions\`    
Note that the `AppData` directory may be hidden in the file manager.
If this is the case, it can be accessed by manually entering the path
in the address bar.

For Mac or Linux, this is probably something like:    
`~/.config/inkscape/extensions/`

Run Inkscape. If it was already running,
you will have to restart it. The plugin can
be run from the menu:   
`Extensions > Images > Embed and crop images`


Known Issues
------------

-    Images that have already been embedded are ignored.

-    Only clipping planes created from rectangles are
     currently supported.

-    PDFs saved from Inkscape will not include jpeg compression,
     even if images are embedded in the SVG as jpegs. Additional
     information is available [here](https://bugs.launchpad.net/inkscape/+bug/168708).
     A workaround is to embed images without compression,
     export a PDF, then compress images in the PDF using
     [The PDF Shrinker](../shrink-pdf.html).

-    On some 64bit Windows systems, Inkscape's  Python interpreter
     fails to recognize the JRE, even if it is correctly
     registered with the system. A workaround for this issue
     is to edit `svg-embed-and-crop.py` to include an absolute
     path to the JRE.


Release Notes
-------------

<h3>version 1.4</h3>

-    Fixed bug affecting rotation and skew transformations.

<h3>version 1.3</h3>

-    Fixed bug causing Java to exit when calling the
     extension from other Java programs.

<h3>version 1.2</h3>

-    Fixed bug which resulted in non-default compression quality parameters
     being ignored.

<h3>version 1.1</h3>

-    Check for the JRE in some common locations. Partial workaround
     for problem finding system-registered JRE from 
     32bit Python interpreter on 64bit Windows.


Running from the Command Line
-----------------------------

It is possible to run the app directly from
the command line without running Inkscape:

<pre>java -classpath &lt;<em>install path</em>&gt; edu.emory.cellbio.svg.EmbedAndCrop
      [&lt;<em>input</em>&gt;] [-o &lt;<em>output</em>&gt; | -s] [-t &lt;<em>type</em>&gt; [-q &lt;<em>quality</em>&gt;]]</pre>

-    <code>&lt;<em>install path</em>&gt;</code> --
          Location of the app's jar files, ending with `/*`.  
          Ex.: `/usr/some-dir/svg-embed-and-crop/*`
-    <code>&lt;<em>input</em>&gt;</code> --
          Path to the input SVG file. If missing, the user will be presented with
          a file open dialog box.
-    <code>-o &lt;<em>output</em>&gt;</code> --
          Path to save the output SVG file with embeded images
-    `-s` -- Present the user with a file save dialog
          to specify the output file
-    **Note:** If neither `-o` nor `-s` is specified, the output 
          is sent to the standard output stream
-    <code>-t &lt;<em>type</em>&gt;</code> --
          Specify the type of image for encoding. Supported options
          are `png` or `jpeg`. If this is not specified, the user
          will be presented with a selection dialog.
-    <code>-q &lt;<em>quality</em>&gt;</code> --
          Quality parameter for jpeg compression.
          Default value is `0.85`.

**Examples:**

    java -classpath /path/to/jars/* edu.emory.cellbio.svg.EmbedAndCrop -s -t jpeg -q 0.95
    java -classpath /path/to/jars/* edu.emory.cellbio.svg.EmbedAndCrop input.svg -o output.svg

<script type="text/javascript" src="./js/analytics.js" />
